.hero-section{
    height: 90vh;
    background: linear-gradient(rgba(74, 35, 90, 0.7),rgba(74, 35, 90, 0.7)),
                url(sample1.jpg) center/cover no-repeat;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid gold;;
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    color:rgb(255, 215, 0);
}

.hero-subtitle{
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    width:600px;
    margin: 0 auto;
}

#hero-btn{
    font-size: 1.4rem;
    padding: 10px 30px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

@media(max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
    .hero-subtitle {
        font-size: 1.1rem;
        width: 90%;
    }
}

.services-overview{
    background: linear-gradient(to bottom, rgb(115, 87, 126), rgb(73, 44, 83), rgb(43, 8, 57) );
    color:#fff;
    border-bottom: 2px solid gold;
}

.services-overview h2{
    font-size: 3.3rem;
    font-weight: bold;
    color:rgb(255, 215, 0);
    text-align: center;
}
    
.section-subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto;
    color:rgba(255, 255, 255, 0.850);
}

.service-card{
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card h4{
    color:rgb(255, 215, 0);
    font-size: 1.5rem;
    font-weight: 700;
}

.service-card p{
    font-size: 1.01rem;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.85);
}

.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(255, 215, 0);
}

.btn-outline-light{
    border-color: rgb(255, 215, 0);
    color: rgb(255, 215, 0);
    border-width: 2px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
.btn-outline-light:hover{
    background-color: rgb(255, 215, 0);
    color: rgb(74, 35, 90);
    box-shadow: 0 2px 5px rgba(255, 215, 0, 0.5);
    transform: scale(1.15);
    font-weight: bold;
}

.see-all-btn{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: rgb(255, 215, 0);
    color: rgb(74, 35, 90);
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4);
}
.see-all-btn:hover{
    background-color: rgb(230, 194, 0);
    color:white;
    transform: scale(1.15);
}

.about-preview{
    background: linear-gradient(to bottom, rgb(43, 8, 57), rgb(72, 38, 84), rgb(115, 87, 126));
    color: #fff;
    padding:60px 30px;
    border-bottom: 2px solid gold;;
}

.about-preview h2{
    color: rgb(255, 215, 0);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.about-preview .lead{
    font-size:1.1rem;
    font-weight: 600;
    font-style:italic;
    color:rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.about-preview p{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.about-preview .btn-primary{
    border:none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 25px;
    margin-left: 10px;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4);
}
.about-preview .btn-primary:hover{
    background-color: rgb(230, 194, 0);
    color:white;
    transform: scale(1.15);
}
.about-preview img{
    border:2px solid gold;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

.gallery-preview{
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin:0;
    background: linear-gradient(to bottom, rgb(115, 87, 126), rgb(73, 44, 83), rgb(43, 8, 57));
    border-bottom: 2px solid gold;
}

.gallery-preview h2{
    font-size: 3.3rem;
    font-weight: bold;
    color:rgb(255, 215, 0);
    text-align: center;
    margin-bottom: 1.5rem;
}

.gallery-preview p{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    margin-bottom: 3rem;
}

.slider{
    height:300px;
    margin:auto;
    position: relative;
    width: 90%;
    display:grid;
    place-items: center;
    overflow:hidden;
}

.slide-track{
    display: flex;
    width: calc(250px * 24);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 12));
    }
}

.slide{
    height: 300px;
    width:250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    flex-shrink: 0;
}

.slide img{
    width:100%;
    height: auto;
    transition: transform 1s;
    border: 2px solid gold;
}

.slide img:hover{
    transform: translateZ(10px);
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgb(43, 8, 57) 10%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 160%;
    width:10%;
    position: absolute;
    z-index: 2;
    pointer-events:none;
}

.slider::before{
    left:0;
    top:0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.gallery-preview .btn-primary{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: rgb(255, 215, 0);
    color: rgb(74, 35, 90);
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4);
    margin-top: 40px;
}
.gallery-preview .btn-primary:hover{
    background-color: rgb(230, 194, 0);
    color:white;
    transform: scale(1.15);
}

.why-choose-us{
    background: linear-gradient(to bottom, rgb(43, 8, 57), rgb(73, 44, 83), rgb(115, 87, 126));
    border-bottom: 2px solid gold;
}

.section-heading{
    color: #ffd700;
    font-weight: bold;
    font-size: 3.3rem;
}

.section-subheading{
    color: rgba(255, 255, 255, 0.85);
    font-style: italic;
    font-size:1.3rem;
    font-weight: 500;
}

.feature-box{
    background-color: rgba(142, 69, 134, 0.2);
    border-radius: 15px;
    padding: 25px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
}

.feature-box:hover{
    transform: translateY(-5px) scale(1.05);
    border: 2px solid rgba(255, 215, 0, 0.4);
    cursor: pointer;
}

.feature-box h4{
    color:#ffd700;
    font-weight: bold;
    margin-top: 13px;
    font-size:1.6rem;
}

.feature-box p{
    color:#ddd;
    font-size:1.3rem;
    margin-top: 45px;
    font-weight: 500;
}

.pricing-preview{
    background:linear-gradient(to bottom, rgb(115, 87, 126), rgb(73, 44, 83), rgb(43, 8, 57));
    color:#fff;
    border-bottom: 2px solid gold;
}

.pricing-card{
    background-color: rgba(142, 69, 134, 0.2);
    border-radius: 15px;
    padding: 25px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
}

.pricing-card:hover{
    transform: translateY(-5px) scale(1.05);
    border: 2px solid rgba(255, 215, 0, 0.4);
    cursor: pointer;
}

.pricing-card h4{
    color:#ffd700;
    font-weight: bold;
    margin-top: 15px;
    font-size:1.6rem;
}

.pricing-card p{
    color:#ddd;
    font-size:1.3rem;
    margin-top: 15px;
    font-weight: 500;
}

.pricing-preview .btn-primary{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: rgb(255, 215, 0);
    color: rgb(74, 35, 90);
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4);
    margin-top: 20px;
}
.pricing-preview .btn-primary:hover{
    background-color: rgb(230, 194, 0);
    color:white;
    transform: scale(1.15);
}

body{
    background: linear-gradient(to bottom, rgb(43, 8, 57), rgb(115, 87, 126));;
}

section{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2.5s ease, transform 2s ease;
    background-color: transparent;
}

section.show{
    opacity: 1;
    transform: translateY(0);
}



