.display-3{
    text-align: center;
    color:rgb(255, 215, 0);
    font-weight: bold;
    font-style: italic;

}
.containermy-5{
    background: linear-gradient(to bottom, rgb(147, 16, 194), rgb(147, 21, 189), rgb(140, 27, 184) );
    color:#fff;
    padding: 20px;
    
}



