.display-3{
    text-align: center;
}
.containermy-5{
    background: linear-gradient(to bottom, rgb(199, 64, 253), rgb(162, 32, 206), rgb(162, 23, 217) );
    color:#fff;
    padding: 20px;
    border-bottom: 2px solid gold;
}



